.arrow {
    align-self: stretch;
    height: 4px;
    background-image: url('../../public/arrow.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
