.section {
    width: 400px;
}

.spinner {
    margin: 50px 0 150px;
    width: 35px;
    height: 35px;
    align-self: center;
}

@media screen and (max-width: 1023px) {
    .section {
        width: 350px;
    }
}

@media screen and (max-width: 767px) {
    .section {
        width: 279px;
    }

    .spinner {
        margin: 35px 0 100px;
        width: 30px;
        height: 30px;
        align-self: center;
    }
}
