.layout {
    margin: 0 auto;
    min-height: 110vh;
    width: 100%;
    display: grid;
    grid-template-rows: min-content auto min-content;
    grid-template-columns: 400px minmax(127px, 0.4fr) auto 1fr;
    grid-template-areas:
        'header header header header'
        'image . content .'
        'footer footer footer footer';
    row-gap: 32px;
    position: relative;
}

.header {
    padding: 16px;
    grid-area: header;
    align-self: flex-start;
}

.content {
    padding-right: 16px;
    align-self: flex-start;
    grid-area: content;
}

.image-wrapper {
    position: sticky;
    top: calc(50vh - 310px);
    align-self: flex-start;
    grid-area: image;
}

.image {
    position: relative;
    height: 620px;
    width: 100%;
}

.footer {
    padding: 16px;
    grid-area: footer;
    align-self: flex-end;
}

@media screen and (max-width: 1140px) {
    .layout {
        grid-template-columns: 304px minmax(58px, 0.4fr) auto 1fr;
    }

    .image-wrapper {
        top: calc(50vh - 218px);
    }

    .image {
        height: 436px;
    }
}

@media screen and (max-width: 1023px) {
    .layout {
        grid-template-columns: 154px minmax(24px, 0.4fr) auto 1fr;
    }

    .image-wrapper {
        margin-left: -150px;
    }
}

@media screen and (max-width: 768px) {
    .layout {
        grid-template-columns: 48px minmax(24px, 0.4fr) auto 1fr;
    }

    .image-wrapper {
        margin-left: -256px;
    }
}
